@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  font-family: "Nunito Sans", sans-serif !important;
}

* {
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 600;
}

body {
  margin: 0;
}

.sexulauiostrov {
  width: 100px;
  height: 500px;
  border-radius: 10px;
  position: fixed;
  padding: 1rem;
  border: 1px solid #efefef4e;
  overflow: auto;
  background-color: white;
  transition: 0.3s;
  right: 10px;
  box-shadow: 10px -3px 34px -14px rgba(196, 196, 196, 0.44);

}

.sexulauiostrov:hover {
  width: 500px;
}

/* .ant-menu,.ant-layout-sider{
  width: 250px !important;
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important
} */
.custom-popup {
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}



/* MainPage.css */
.main-page-container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-form .ant-form-item {
  margin-bottom: 16px;
}

.custom-form .ant-upload-list-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-form .ant-upload-list-picture .ant-upload-list-item {
  width: 100%;
}

.custom-form .ant-btn {
  width: 100%;
  color: #201500;
}

.ant-segmented {
  background-color: #fff2cc;
}